div { 
    background-color: rgb(4, 101, 125); color: white;
}

.relative { 
    border: solid 5px rgb(255, 255, 255);
    position: relative;
    width: 1600px;
    height: 750px;
}

.absolute { 
    border: 10px solid rgb(255, 255, 255);
    align-items: center;
    width: 1200px;
    height: 600px;
    right: 250px;
    top: 25px;
    position: absolute;
}
